<div class="modal-body replygif-modal" style="overflow: visible">
  <div>
    {{#if loadingTags}}
      loading...
    {{else }}
      {{combobox content=replyTags none=0 valueAttribute="name" valueBinding="controller.replyTag" }}
    {{/if}}
  </div>

  <div class="replygif-wrap">
    {{#if loading}}
     loading...
    {{else}}
      <div class="replygif-box">
        {{#each currentGifs}}
          {{#view Discourse.ReplygifItemView model=this}}
            <img class="replygif-img" {{bind-attr src=view.imagePath}}>
            {{#if view.selected}}
              <button class="btn btn-primary" {{action "pickItem" target=view}}>{{i18n select}}</button>
            {{/if}}
          {{/view}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
