<div class="modal-body replygif-modal" style="overflow: visible">
  <div>
    {{#if loadingTags}}
      loading...
    {{else }}
      <div class="combobox">
        {{combo-box content=replyTags none="reply_gif.none" valueAttribute="name" valueBinding="controller.replyTag" }}
      </div>
      <div class="tags">
        {{view Discourse.TagAutocompleteView modelBindings="controller.tags" }}
      </div>
      <div {{action toggleAutoanim}} {{bind-attr class=autoanimcls}}>
        <div class="onoffswitch-label">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="replygif-wrap">
    {{#if loading}}
     loading...
    {{else}}
      <div class="replygif-box">
        {{#each currentGifs}}
          {{#view Discourse.ReplygifItemView model=this autoanimBinding="controller.autoanim"}}
            <img class="replygif-img" {{bind-attr src=view.imagePath}}>
            {{#if view.selected}}
              <button class="btn btn-primary" {{action "pickItem" target=view}}>{{i18n "reply_gif.select"}}</button>
            {{/if}}
          {{/view}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
