<div class="modal-body replygif-modal" style="overflow: visible">
  <div>
    {{#if loadingTags}}
      {{i18n loading}}
    {{else }}
      <div class="categories">
        {{combo-box name="categories" valueAttribute="title" value="controller.selectedCategory" nameProperty="title" content=filterCategories none="replygif.none" }}
      </div>
      <div class="tags">
        {{replygif-tag-selector datasource=controller.tags}}
      </div>
    {{/if}}
  </div>
  <div class="replygif-content">
    {{#if loading}}
      {{i18n loading}}
    {{else}}
      <div class="replygif-box">
      </div>
    {{/if}}
  </div>
</div>