<div class="modal-body replygif-modal" style="overflow: visible">
  <div>
    {{#if loadingTags}}
      {{i18n loading}}
    {{else }}
      <div class="categories">
        {{i18n "replygif.categories"}}
        {{combo-box content=categories none="replygif.none" valueAttribute="title" value="controller.category" }}
      </div>
      <div class="tags">
        {{i18n "replygif.tags"}}
      </div>
    {{/if}}
  </div>
  <div class="replygif-content">
    {{#if loading}}
      {{i18n loading}}
    {{else}}
      <div class="replygif-box">
      </div>
    {{/if}}
  </div>
</div>